<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <h1>Editar um Post</h1>
    <h4>Informe o id da postagem</h4> 
        <form action="/edit" method="post">
            <input name="id" placeholder="Insira aqui o id">
            <input name="titulo" placeholder="Digite aqui o título"> <br>
            <input name="resumo" placeholder="Resumo"> <br>
            <input name="conteudo" placeholder="Digite aqui o conteudo"> <br>
            <input name="autor" placeholder="Digite aqui o autor">  <br>
            <button type="submit"> Enviar </button>
        </form>
    
</body>
</html>